body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 5px;
  }

	body > #content {
    padding: 0px 20px 20px 20px !important;
  }
}

body > #content {
  margin: 0px;
  max-width: 900px;
  border: 1px solid #e1e4e8;
  padding: 10px 40px;
  padding-bottom: 20px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  color: #e1e1e1;
  background-color: #e1e1e1;
  height: 1px;
  flex: 0 1 auto;
  margin: 1em 0;
  padding: 0;
  border: none;
}

/**
 * Links
 */
a {
  color: #0366d6;
  text-decoration: none;
}

a:visited {
    color: #0366d6;
}

a:hover {
    color: #0366d6;
    text-decoration: underline;
}

pre {
	font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
	display: block;
	padding: 8px 12px;
	margin: 0 0 8px;
	font-size: 14px;
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	margin-bottom: 16px;
	overflow-x: auto;
	border-radius: 2px;
}

/**
  * Code blocks
  */

code {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  padding: 2px 4px;
  color: #2f2f2f;
  border-radius: 4px;
}

pre > code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
  font-size: 100%;
}


/**
 * Blockquotes
 */
blockquote {
  margin-left: 0;
	padding: 1px 24px;
	border-left: 3px solid #eaeaea;
}

blockquote * {
	color: #7f8fa4 !important;
  font-style: normal !important;
}

blockquote a {
	color: #1b69b6 !important;
}

/**
 * Tables
 */
table {
  border-spacing: 2px;
  display: block;
  font-size: 14px;
  overflow: auto;
  width: 100%;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 6px 13px;
  border: 1px solid #ccc;
	padding: 10px 16px;
}

th {
  font-weight: 600;
  padding: 10px 16px;
  border: 1px solid #e5e5e5;
	border-bottom: 1px solid #ccc;
	background-color: #fafafa;
}

tr {
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

/**
 * Others
 */

img {
  max-width: 100%;
}

p {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #2e2e2e; }

ul {
  margin-top: 0;
}

li {
  color: #2e2e2e;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

li + li {
  margin-top: 0.25em;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #2e2e2e;
}

a:visited {
  color: #0366d6;
}

h1, h2, h3 {
  border-bottom: 1px solid #eaeaea;
	padding-bottom: 0.3em;
	margin: 24px 0 16px;
}

/**
 *Font Size
 */
h1 {
	font-size:1.75rem ;
  color: rgb(252, 188, 13);
  
}

h2 {
	font-size:1.5rem ;
}

h3 {
	font-size:1.3rem ;
}

h4 {
	font-size:1.2rem ;
}

h5 {
	font-size:1rem ;
}

h6 {
	font-size:0.95rem ;
}
